<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartData2"
    [colors]="colors"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">  -->
  </canvas>
</div>
